<!-- BEGIN CONTENT-->
<div id="content">

    <!-- BEGIN BLANK SECTION -->
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li class="active"></li>
            </ol>
        </div>
        <div class="section-body">
            <div class="card">
                <!-- BEGIN SEARCH HEADER -->
                <div class="card-head style-primary">
                    <header>
                        Aparelhos
                    </header><!-- /header -->
                    <div class="tools">
                        <button class="btn btn-floating-action btn-default-light"
                       		ng-click="viewAdiciona();">
                        	<i class="fa fa-plus"></i>
                    	</button>
                </div>
            </div><!--end .card-head -->
            <!-- END SEARCH HEADER -->

            <!-- BEGIN SEARCH RESULTS -->
            <div class="card-body">
                <!-- BEGIN RESPONSIVE TABLE  -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4></h4>
                    </div><!--end .col -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="table-responsive no-margin">
                                    <table class="table table-striped no-margin">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th> <!-- t.id_modulo_tomada, t.numero_tomada, t.id_tomada, mt.nome_modulo,
											a.id_aparelho, a.nome_aparelho -->
                                                <th class="text-center">Nome</th>
                                                <th class="text-center">Nº Tomada</th>
                                                <th class="text-center">Modulo</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="aparelho in aparelhos">
                                            <tr class="text-center">
                                                <td><a ui-sref="aparelho.detalhes({id_aparelho: aparelho.id_aparelho})">{{aparelho.id_aparelho}}</a></td>
                                                <td>{{aparelho.nome_aparelho}}</td>
                                                <td>{{aparelho.numero_tomada}}</td>
                                                <td>{{aparelho.nome_modulo}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--end .table-responsive -->
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                </div><!--end .row -->
                <!-- END RESPONSIVE TABLE  -->
            </div>
            <!-- END SEARCH RESULTS -->

        </div>
    </section>
    <!-- BEGIN BLANK SECTION -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Adicionar Aparelho</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form">
    				<div class="form-group">
    					<input type="text" class="form-control" id="nome_aparelho" ng-model="novo_aparelho.nome_aparelho" name="nome_aparelho">
    					<label for="regular1">Nome Aparelho</label>
    				</div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <select id="no_modulo" name="no_modulo" ng-change="getTomada(this.value);"
                    ng-model="novo_aparelho.no_modulo" class="form-control" >
                    <option ng-repeat="modulo in modulos" placeholder="Selecione o Modulo" value="{{modulo.no_modulo}}">Modulo {{modulo.no_modulo}}</option>
                  </select>
                  <label for="select1">Selecione o Modulo</label>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <select id="tomada" name="tomada" placeholder="Selecione o Modulo" ng-model="novo_aparelho.tomada" class="form-control" >
                    <option ng-repeat="tomada in tomadas"
                     value="{{tomada}}">Tomada {{tomada}}</option>
                  </select>
                  <label for="select2">Selecione a Tomada</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="localizacao" ng-model="novo_aparelho.localizacao" name="localizacao">
              <label>Localização</label>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <input type="text"
                           id="dthr_inicio"
                           class="form-control"
                           ng-model="novo_aparelho.dthr_inicio"
                           data-inputmask="'mask': 'd/m/y h:s'">
                           <label>Data Inicio</label>

                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input type="text"
                         id="dthr_fim"
                         class="form-control"
                         ng-model="novo_aparelho.dthr_fim"
                         data-inputmask="'mask': 'd/m/y h:s'">
                  <label>Data Fim</label>
                </div>
              </div>
            </div>

			   </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	        <button type="button" class="btn btn-success" ng-click="adicionar();">Salvar</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div><!--end .section-body -->
</div><!--end #content-->
<!-- END CONTENT -->
