<!-- BEGIN MENUBAR-->

<div class="menubar-fixed-panel">
  <div>
    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" >
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="expanded">
    <a href="">
      <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
    </a>
  </div>
</div>
<div class="menubar-scroll-panel">

  <!-- BEGIN MAIN MENU -->
  <ul id="main-menu" class="gui-controls">

    <li ng-class="{active: (active == $index)}" ng-repeat="module in modules">
      <a href="" ui-sref="{{module.url}}">
        <div class="gui-icon"><i class="{{module.icon}}"></i></div>
        <span class="title">{{module.nome}}</span>
      </a>
    </li><!--end /menu-li -->
  </ul><!--end .main-menu -->
  <!-- END MAIN MENU -->

  <div class="menubar-foot-panel">
    <small class="no-linebreak hidden-folded">
      <span class="opacity-75"></span>
    </small>
  </div>
</div><!--end .menubar-scroll-panel-->
<!-- END MENUBAR -->