<form class="form">
  <div class="card">
    <div class="card-head style-primary">
      <header>Adicionar Registro Inmetro</header>
    </div>
    <div class="card-body">
      <fieldset>
        <legend>Informações do Fabricante</legend>
        <div class="row">
        <!--
  minimo text, *
  classe text, *
  consumo text, *
  potencia text,
  tensao text *,
  media text, *
  nome_marca text, *
  id_inmetro text NOT NULL,
  nome_modelo text, *
  maximo text, *
  frequencia text, *
  nome_fabricante text, *
         -->

          <div class="col-sm-6 col-md-4">
            <div class="form-group has-success">
              <input type="text" class="form-control" id="nome_modelo"
                ng-model="registro_inmetro.nome_modelo" name="nome_modelo">
              <label for="nome_modelo">Modelo</label>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" id="nome_marca"
                ng-model="registro_inmetro.nome_marca" name="nome_marca">
              <label for="nome_marca">Marca</label>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" id="nome_fabricante"
                ng-model="registro_inmetro.nome_fabricante" name="nome_fabricante">
              <label for="nome_fabricante">Fabricante</label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Informações da Técnicas</legend>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="registro_inmetro.classe"
                id="classe" name="classe">
              <label for="classe">Classe do aparelho</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="registro_inmetro.consumo" id="consumo" name="consumo">
              <label for="consumo">Consumo</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="registro_inmetro.tensao"
                id="tensao" name="tensao">
              <label for="tensao">Tensão</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="registro_inmetro.minimo" id="minimo" name="minimo">
              <label for="minimo">Minímo</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
            <input type="text" class="form-control" ng-model="registro_inmetro.maximo" id="maximo" name="maximo">
            <label for="maximo">Máximo</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="registro_inmetro.media" id="media" name="media">
              <label for="media">Média</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="registro_inmetro.potencia" id="potencia" name="potencia">
              <label for="potencia">Potência</label>
            </div>
          </div>
      </fieldset>
    </div><!--end .card-body -->

    <div class="card-actionbar">
      <div class="card-actionbar-row">
        <button type="submit" id="btn_add" ng-click="validacao()" class="btn btn-success ink-reaction">Salvar</button>
        <button type="submit" ng-click="loadListar()" class="btn btn-primary ink-reaction pull-left">Voltar</button>
      </div>
    </div>

  </div><!--end .card -->
</form>