<div class="card">
    <!-- BEGIN SEARCH HEADER -->
    <div class="card-head style-primary">
        <header>
            Aparelhos Cadastrados
        </header><!-- /header -->
        <div class="tools">
            <button class="btn btn-floating-action btn-default-light" ng-click="add()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div><!--end .card-head -->
    <!-- END SEARCH HEADER -->

    <!-- BEGIN SEARCH RESULTS -->
    <div class="card-body">
        <!-- BEGIN RESPONSIVE TABLE  -->
        <div class="row">
            <div class="col-lg-12">
                <h4></h4>
            </div><!--end .col -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="table-responsive no-margin">
                            <table class="table table-striped no-margin">
                                <thead>
                                    <tr>
                                        <!--a.id_aparelho, a.nome_aparelho, a.modelo_aparelho,
                                        a.localizacao, pa.no_modulo, pa.tomada, -->
                                        <th class="text-center">#</th>
                                        <th class="text-center">Nome</th>
                                        <th class="text-center">Modelo de aparelho</th>
                                        <th class="text-center">Localização</th>
                                        <th class="text-center">Status Coleta</th>
                                        <th class="text-center">Ação</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="aparelho in aparelhos">
                                    <tr class="text-center">
                                        <td>{{aparelho.id_aparelho}}</td>
                                        <td>{{aparelho.nome_aparelho}}</td>
                                        <td>{{aparelho.modelo_aparelho}}</td>
                                        <td>{{aparelho.localizacao}}</td>
                                        <td>
                                           {{aparelho.status > 0? 'Ativado': 'Desativado'}}
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--end .table-responsive -->
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
        </div><!--end .row -->

        <!-- END RESPONSIVE TABLE  -->
    </div><!--end .card-body -->
    <!-- END SEARCH RESULTS -->

</div><!--end .card -->
