<form class="form">
    <div class="card">
        <div class="card-head style-primary">
            <header>Adicionar Novo Aparelho</header>
        </div>
        <div class="card-body">
            <fieldset>
                <legend>Informações do Aparelho</legend>
                  <div class="row">
                      <div class="col-sm-6 col-md-4">
                          <div class="form-group has-success">
                              <input type="text" class="form-control" id="nome_aparelho" ng-model="aparelho.nome_aparelho" name="nome_aparelho">
                              <label for="nome_aparelho">Nome Aparelho</label>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                          <div class="form-group">
                              <input type="text" class="form-control" id="modelo_aparelho" ng-model="aparelho.modelo_aparelho" name="modelo_aparelho">
                              <label for="modelo_aparelho">Modelo Aparelho</label>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                          <div class="form-group">
                              <input type="text" class="form-control" id="localizacao" ng-model="aparelho.localizacao" name="localizacao">
                              <label for="localizacao">Localização</label>
                          </div>
                      </div>
                  </div>
            </fieldset>
            <fieldset>
                <legend>Informações da Análise</legend>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="hora_uso" ng-model="aparelho.hora_uso"name="hora_uso">
                            <label for="localizacao">Horas de uso</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="dthr_inicio" name="dthr_inicio">
                            <label for="no_modulo">Data Inicial</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-click="start_dthr_fim();" id="dthr_fim" name="dthr_fim">
                            <label for="no_modulo">Data Final</label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!aparelho.id_aparelho">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="no_modulo" name="no_modulo" ng-model="aparelho.no_modulo" class="form-control" ng-change="selectModulo()">
                              <option ng-repeat="modulo in modulos" value="{{modulo}}">Modulo {{modulo}}</option>
                            option
                            </select>
                            <label for="no_modulo">Selecione o Modulo</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="tomada" name="tomada" ng-model="aparelho.tomada" class="form-control">
                              <option ng-repeat="tomada in tomadas" value="{{tomada}}">Tomada {{tomada}}</option>
                            option
                            </select>
                            <label for="tomada">Selecione a Tomada</label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="aparelho.id_aparelho">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="no_modulo" name="no_modulo" ng-model="aparelho.no_modulo">
                            <label for="no_modulo">Modulo</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="tomada" name="tomada" ng-model="aparelho.tomada">
                            <label for="tomada">Selecione a Tomada</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div><!--end .card-body -->

        <div class="card-actionbar">
              <div class="card-actionbar-row">
                  <button type="button" id="btn_add" ng-click="validacao()" class="btn btn-success ink-reaction">Salvar</button>
                  <button type="button" ng-click="loadListar()" class="btn ink-reaction btn-default pull-left">Voltar</button>
              </div>
        </div>
    </div><!--end .card -->
</form>
