<div class="section-body">
  <div class="row">

    <!-- BEGIN ALERT - REVENUE -->
    <div class="col-md-3 col-xs-6">
        <div class="card">
          <div class="card-body no-padding">
            <div class="alert alert-callout alert-info no-margin">
            <strong class="text-xl">{{total_dia}}</strong><br/>
              <span class="opacity-50">TOTAL DO DIA</span>

            </div>
          </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - REVENUE -->

    <!-- BEGIN ALERT - BOUNCE RATES -->
    <div class="col-md-3 col-xs-6">
        <div class="card">
          <div class="card-body no-padding">
            <div class="alert alert-callout alert-danger no-margin">
              <strong class="text-xl">{{total_mes}}</strong><br/>
              <span class="opacity-50">TOTAL DO MÊS</span>
            </div>
          </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - BOUNCE RATES -->
        <!-- BEGIN ALERT - VISITS -->
    <div class="col-md-3 col-xs-6">
        <div class="card">
          <div class="card-body no-padding">
            <div class="alert alert-callout alert-warning no-margin">
              <strong class="text-xl">{{total_ano}}</strong><br/>
              <span class="opacity-50">TOTAL DA ANO</span>
            </div>
          </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - VISITS -->

    <!-- BEGIN ALERT - TIME ON SITE -->
    <div class="col-md-3 col-xs-6">
        <div class="card">
          <div class="card-body no-padding">
            <div class="alert alert-callout alert-success no-margin">
              <h1 class="pull-right text-success"><i class="fa fa-plug"></i></h1>
              <strong class="text-xl">{{total_analisado}}</strong><br/>
              <span class="opacity-50">TOTAL ANALISADO</span>
            </div>
          </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - TIME ON SITE -->

  </div><!--end .row -->
  <div class="row">

    <!-- BEGIN SITE ACTIVITY -->
    <div class="col-md-12">
        <div class="card ">
          <div class="row">
            <div class="col-md-12">
              <div class="card-head">
                <header class="text-primary">{{chart.nome}}</header>
              </div><!--end .card-head -->
              <div class="card-body height-8">
                <div id="chart" style="min-width: 310px; height: 100%; margin: 0 auto"></div>
              </div><!--end .card-body -->
            </div><!--end .col -->
          </div><!--end .row -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END SITE ACTIVITY -->

  <button style="margin-left: 10px" type="button" ng-click="loadListar()" class="btn ink-reaction btn-default pull-left">Voltar</button>


</div><!--end .section-body -->
